<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c9cd230c37.js" crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <title>Divvy</title>
   
       
</head>

  <div class="nav">
      <a href="#home" class="active">Divvy </a>
      <div id="menu">
        <a href="#">Sign up</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="dropDown()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
    <div style="padding-left:16px">
    </div>



<!-- 
                <button class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i></button>  -->
  </div>
</header>
  <body>
    <div class="bg-img">
      <form class="container-1">
        <h1>Login</h1>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit" class="login-button">Login</button>
        <a href="/"><button class="cancel-button">Cancel</button> </a>
      </form>
    </div>
</body>

<script src="dividend.js"></script>
</html>