<form class="container-1">
  <p>Welcome to,<h1>DIVVY</h1></p> hello my name is jonathan. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, molestiae quae iusto neque aperiam cumque error aliquam! Id repellat minima suscipit. Vero ipsa fugiat, omnis molestias libero ullam natus nihil?<br><br>
       <button id="signup-button" class="signup-button">
          <a href="signup">Sign up</a>
        </button>
 <button id="signup-button" class="signup-button">
          <a href="login">Login</a>
        </button>
      </form>