
  <form class="container-trending">

      <h3>Trending</h3> 
        <nav class="side-menu">
          <ul class="nav-links">
              <li>
                <img src="/./../dividend/dividend/public/imgs/calgary/una.jpg" alt="una">
                hi
                <a href="/"><button>Una</button></a>
              </li>
              <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia reprehenderit quasi doloremque facere inventore, iusto ratione vel dolore nostrum molestias qui laborum ducimus! Accusamus exercitationem rerum temporibus, magnam quas incidunt.
                <a href="'/"><button>Nopu</button></a>
              </li>       
              <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis natus sit, nobis nihil incidunt ipsa ratione necessitatibus, unde dicta quo facere, adipisci amet beatae eius reprehenderit aperiam maiores quas earum.
                <a href="'/"><button>Foreign Concept</button></a>
              </li> 
              <li>
                <a href="'/"><button>Mari Bakeshop</button></a>
              </li> 

          </ul>
        </nav>



  </form>
