  <form class="container-trending">
  

      <h3>Trending</h3> 
        <nav class="side-menu">
          {{!-- <ul class="nav-links"> --}}
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, facilis hic maxime error ad ab inventore veniam totam voluptate iusto tempore ut provident optio maiores, nemo a alias voluptas voluptatibus.
        
             

                <a href="/"><button>Una</button></a>
              </li>
              <li>
               
                <a href="'/"><button>Nopu</button></a>
              </li>       
              <li>
               
                <a href="'/"><button>Foreign Concept</button></a>
              </li> 
              <li>
                <a href="'/"><button>Mari Bakeshop</button></a>
              </li>  

          </ul>
        </nav>
        <br><br>
 <img src="imgs/calgary/una.jpg" alt="hi" height="200px" width="200px" />
  <img src="imgs/calgary/foreign.jpg" alt="hi" height="200px" width="200px" />
    <img src="imgs/calgary/starbucks.jpg" alt="hi" height="200px" width="200px" />
    <img src="imgs/calgary/pigeon.jpg" alt="hi" height="200px" width="200px" />


