

/* MAIN PAGE */

  
* {
    box-sizing: border-box;
  }  
  .bg-img {
    background-image: url("/imgs/pool.jpg");
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 80%;
  }
  .container-intro {
    position: absolute;
    left: 30px;
    top: 50px;
    margin: 20px;
    max-width: 450px;
    min-height: 250px;
    padding: 16px;
    background-color: rgb(248, 248, 248);
    opacity: 90%;
    border-radius: 20px;
  }
  .container-search {
    position: absolute;
    left: 500px;
    top: 50px;
    margin: 20px;
    max-width: 730px;
   
    padding: 16px;
    background-color: rgb(248, 248, 248);
    opacity: 90%;
    border-radius: 20px;
  }
  .container-trending {
    position: absolute;
    left: 30px;
    top: 330px;
    margin: 20px;
    max-width: 450px;
    height: 830px;
    padding: 16px;
    background-color: rgb(248, 248, 248);
   
    border-radius: 20px;
  }
  .container-ad {
    position: absolute;
    left: 500px;
    top: 1200px;
    margin: 20px;
    min-width: 730px;
    height: 200px;
    padding: 16px;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    opacity: 95%;
  }

  .ad {
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
  }


/* SIGNUP */

  .container-signup {
    position: absolute;
    left: 70px;
    top: 0px;
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: rgb(241, 235, 235);
    opacity: 70%;
    border-radius: 20px;
  }
     input[type=text], input[type=email] ,input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
 


  /* BLOG */
  .blog-container {
    background-color: rgb(201, 180, 183);
  
  }