
/* header */
header{
    display: flex;
    justify-content: center;
}

  .header-container {
    display: flex;
    width: 90%;
    background-color: rgb(197, 182, 182);
    justify-content: space-between;
    
  }
  
  .header-container > div {
    background-color: rgb(197, 182, 182);
    margin: 0px;
    font-size: 30px;

  }
 
li {
	display: inline;
    padding: 10px;
    font-size: 20px;
}


